/* tags */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
/* classes */
.site {
    background-color: black;
    background-image: url("/images/Lake1.png");
    background-repeat: repeat;
    background-size: 100%;
    width: 100%;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.logo img {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.header {
    background-color: rgba(0, 0, 0, 0.5);
}

/* fixes container not reaching edge of page */
.container-fluid{
    padding-left: 0px;
    padding-right: 0px;
    margin: auto;
}

/* fixes spill over */
.row{
    padding-left: 0px;
    padding-right: 0px;
    margin: auto;
}

.navbar {
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}

.navbar a {
    display: inline;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

@media screen and (max-width: 600px) {
    .navbar a {
        width: 100%;
        float: none;
    }
}