/* tags */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* classes */
.site {
    background-color: black;
    background-image: url("/images/Lake1.png");
    background-repeat: repeat;
    background-size: 100%;
    width: 100%;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.logo img {
    display: block;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.logo-background{
    background-image: url("/images/LogoBackingImg.png");
    background-repeat:no-repeat;
    background-size:cover;
    padding-left: 0px;
    padding-right: 0px;
    margin: auto;
}

.header {
    background-color: rgba(0, 0, 0, 0.5);
}

/* fixes spill over */
.row {
    padding-left: 0px;
    padding-right: 0px;
    margin: auto;
}

.center-div {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.transparent {
    opacity: 0.5;
}

.opaque {
    opacity: 1;
}

.navbar-nav>li {
    padding-left: 15px;
    padding-right: 15px;
}

/* ids */
/* fixes container not reaching edge of page */
#remove-padding {
    padding-left: 0px;
    padding-right: 0px;
    margin: auto;
}